@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
<img style="height: 300px;" src="https://images.squarespace-cdn.com/content/v1/5f899fa2775d8a65962a7452/1613749534675-XBDZ6VZJN8O59RFR5KAO/logo-tab%402x.png" alt="">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
